@model MyChat.ViewModels.RegisterViewModel
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/8d49b22949.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/pass_control.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous">
    </script>
</head>
    

<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Login"></label><br />
        <input asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="DateOfBirth"></label><br />
        <input asp-for="DateOfBirth" type="date" />
        <span asp-validation-for="DateOfBirth"></span>
    </div>
    <div>
        <label asp-for="Avatar"></label><br />
        <input asp-for="Avatar" type="file" name="uploadedFile" /><br>
    </div>
    <div class="password">
        <label asp-for="Password"></label><br />
        <input type="password" id="password-input" placeholder="Введите пароль" asp-for="Password" />
        <a href="#" class="password-control"></a>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input type="password" id="passwordConfirm-input" placeholder="Подтвердите пароль" asp-for="PasswordConfirm" />
        <a href="#" class="passwordConfirm-control"></a>
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация" />
    </div>
</form>

@section Scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>


    <script>
        $('body').on('click', '.password-control', function () {
            if ($('#password-input').attr('type') == 'password') {
                $(this).addClass('view');
                $('#password-input').attr('type', 'text');
            } else {
                $(this).removeClass('view');
                $('#password-input').attr('type', 'password');
            }
            return false;
        });

        $('body').on('click', '.passwordConfirm-control', function () {
            if ($('#passwordConfirm-input').attr('type') == 'password') {
                $(this).addClass('view');
                $('#passwordConfirm-input').attr('type', 'text');
            } else {
                $(this).removeClass('view');
                $('#passwordConfirm-input').attr('type', 'password');
            }
            return false;
        });
    </script>
}